@font-face {
  font-family: 'Dosis';
  src: url(../Fonts/dosis.ttf);
}
  
@font-face {
  font-family: 'Quicksand';
  src: url(../Fonts/quicksand.ttf);
}

@font-face {
  font-family: 'Bellota';
  src: url(../Fonts/bellota.ttf);
}
